

@import  'nullstyle.scss' ;

body {
  
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

.header {
  height: 80px;
  background-color: rgb(240, 223, 241);
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.buttons {
  display: flex;
  justify-content: space-around;
  margin: 30px 0px 30px 0px;
}

.button-color-one {}

.color-one {}

.button-label {
  width: 250px;
  text-align: center;
  font-size: 30px;
  color: #4f4949;
  margin: 0px 0px 17px 0px;
}

.link {
  width: 250px;
  height: 50px;
  border: 1px solid #4f483c;
  border-radius: 7px;
}


.button-number {}

input[type="number"] {
    color:#4f483c;
    font-size: 24px;
    padding-left: 10px;
    line-height: 55px;
    background-color: rgb(241, 241, 241);
}

.buttons input:focus {
    border: 2px solid rgb(195, 73, 152);
}

.number {}

.color-table {}

.table {
  // border: 2px solid #4f483c;
  // border-collapse: collapse;
  width: 900px;
  margin: 0 auto;
}

td {
  border: 2px solid #4f483c;
  height: 50px;
  background-color: rgb(241, 241, 241);
  width: 50%;
}

.footer {}
